*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #000;
}
.container{
    width: 80%;
    margin: auto;
    background: #fff;
}
h1{
    text-align: center;
    background: aqua;
}
p, li{
    padding: 5px;
}
h2{
    color: aquamarine;
}
ul{
    margin-left: 30px;
}